  
 
 
 #shows_comment{
   margin-left: 22px;
  align-items: center;
  text-align: center;
}
.content__footer {
  padding-top: 20px;
  margin-bottom: 9px;
}
.sendNewMessagee {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid  rgba(7, 6, 4, 0.788);
}
.sendNewMessagee button {
  width: 33px;
  height: 33px;
  background-color: rgba(124, 117, 117, 0.788);
  border: none;
  box-shadow: none;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 16px;
   margin: 1.5px;
   border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}
.sendNewMessagee button:hover {
  transform: scale(1.2);
}
.sendNewMessagee button i {
  display: block;
}
#boxx_comments{
  text-align: right;
 width:100%;
   min-height:30px;
   background-color: white;
    border-radius:22px;
  border: 1px solid #0b0f05b2;

 
  font-size: 12px;
  
  }